@import url("https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@500&display=swap");
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body,
html {
  font-family: "Cabin", sans-serif;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    max-width: 992px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 768px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 95%;
  }
}
.footer {
  padding: 20px;
  background-color: #222;
  width: 100%;
}
.footer .contactBox {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footer .contactBox .infoSection {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .contactBox .infoSection .infoBox {
  display: flex;
  width: 500px;
  margin: 20px 0;
}
.footer .contactBox .infoSection .infoBox i {
  font-size: 30px;
  color: rgba(255, 167, 5, 0.829);
  text-align: center;
  width: 30px;
  margin: 0 20px;
}
.footer .contactBox .infoSection .infoBox p {
  color: #fff;
  font-size: 16px;
}
.footer .contactBox .infoSection .infoBox p a {
  color: rgba(255, 167, 5, 0.829);
  text-decoration: none;
}
@media all and (max-width: 420px) {
  .footer .contactBox .infoSection .infoBox p {
    font-size: 12px;
  }
  .footer .contactBox .infoSection .infoBox i {
    font-size: 16px;
  }
}
.footer .contactBox .infoSection .infoBox:hover i {
  animation: rotate 0.6s linear infinite;
}
.footer .contactBox iframe {
  height: 40vh;
  width: 80vw;
  min-width: 30vw;
}
@media all and (max-width: 700px) {
  .footer .contactBox {
    flex-direction: column;
    align-items: stretch;
  }
}

@keyframes rotate {
  20% {
    rotate: -30deg;
  }
  40% {
    rotate: 30deg;
  }
  70% {
    rotate: -30deg;
  }
  100% {
    rotate: 30deg;
  }
}
.mainNav {
  background-color: #222;
  position: sticky;
  top: 0;
  z-index: 1;
}
.mainNav .navLogo {
  height: 100px;
  position: fixed;
  left: 20px;
  top: 0;
}
.mainNav label[for=dropNav] {
  display: none;
}
.mainNav input[type=checkbox] {
  display: none;
}
.mainNav .navBar {
  text-align: center;
  padding: 35px 0;
  font-size: 1rem;
  margin: 0;
  font-family: "Lexend", sans-serif;
}
.mainNav .navBar hr {
  display: none;
}
.mainNav .navBar .navLink {
  display: inline;
  border: 2px solid #222;
  border-radius: 20px;
  padding: 5px 5px;
  margin: 0 40px;
}
.mainNav .navBar .navLink a {
  text-decoration: none;
  color: rgba(255, 167, 5, 0.829);
  list-style: none;
  padding: 5px;
}
.mainNav .navBar .navLink:hover {
  border: 2px solid rgba(255, 167, 5, 0.829);
  transition: all 0.3s;
}
.mainNav .navBar .navLink:hover a {
  color: #fff;
}

@media all and (max-width: 980px) {
  .navLogo {
    display: none;
  }
}
@media all and (max-width: 750px) {
  .mainNav {
    font-size: 1.6rem;
  }
  .mainNav label[for=dropNav] {
    display: block;
    padding: 30px 20px;
    color: rgba(255, 167, 5, 0.829);
    text-align: right;
    cursor: pointer;
  }
  .mainNav .navLogo {
    display: block;
  }
  .mainNav #dropNav:checked + .navBar {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-top: 2px solid rgba(255, 167, 5, 0.829);
  }
  .mainNav .navBar {
    display: none;
  }
  .mainNav .navBar .navLink {
    display: block;
    text-align: center;
    width: 100px;
    margin: 10px 0;
  }
  .mainNav .navBar hr {
    display: block;
    height: 50px;
    margin: 0 10px;
    border: 1px solid rgba(255, 167, 5, 0.829);
  }
}
@media all and (max-width: 500px) {
  #dropNav:checked + .navBar {
    flex-direction: column;
  }
  #dropNav:checked + .navBar hr {
    height: 0;
    width: 100px;
  }
}
.home {
  min-height: 40vh;
  max-height: 100vh;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home .header-title img {
  filter: blur(none);
  width: 100%;
  height: auto;
}

@media all and (max-width: 1400px) {
  .home {
    height: auto;
  }
}/*# sourceMappingURL=style.css.map */