* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body,
html {
  font-family: $primary-font;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  background: radial-gradient(circle at bottom, #fff, transparent 80%),
    linear-gradient(to top, rgb(253, 178, 93) 0%, transparent 70%),
    linear-gradient(to bottom, transparent, rgba(#fff, 0.4) 70%),
    rgb(253, 178, 93);
  animation: bg 30s infinite;
}

.container {
  max-width: 90vw;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    max-width: 992px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 768px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 95%;
  }
}

@keyframes rotate {
  20% {
    rotate: -30deg;
  }
  40% {
    rotate: 30deg;
  }
  70% {
    rotate: -30deg;
  }
  100% {
    rotate: 30deg;
  }
}

@keyframes bg {
  0%,
  100% {
    background-color: #b9dafa;
  }
  25% {
    background-color: #e3fac4;
  }
  50% {
    background-color: #ffe244;
  }
  75% {
    background-color: #ffa836;
  }
}
